
.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 10px
  width: 100%
  box-sizing: border-box

section
  color: #ffffff

.flex
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

.flex-row
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  text-align: center

.button, .btn-sm
  text-transform: uppercase
  border-radius: 50px
  border: 2px solid yellow
  background-color: transparent
  transition: all .3s
  cursor pointer

.button
  display: inline-block
  padding: 20px 35px
  color: yellow

.title
  color: darkgrey
  font-size: 40px
  text-transform: uppercase
  margin-bottom: 80px
  opacity: 0
  transform: translateX(300px)

.text_title
  color: lightgrey
  font-size: 24px

.big_padding
  padding: 100px 0 130px 0


.slideInLeft
  animation: slideInLeft .75s ease both

.slideInRight
  animation: slideInRight .75s ease both
