.contact
  color: yellow
  background: darkblue
  @media (max-width: 900px)
    padding: 100px 50px 130px 50px
  &__title
    color: yellow
  &__text
    margin: 10px 0
    font-size: 20px
  .highlight
    font-size: 20px
  &__btn
    margin-top: 60px
    transition: all .3s
    &:hover
      padding: 20px 40px
      color: darkblue
      background: yellow
