
html
  font-size: 16px
  font-family: 'Montserrat', sans-serif

/*
  Variables
*/

yellow          = #fdcd3b // cool
darkgrey        = #454545
lightgrey       = #616161
darkblue        = #2D4059 // cool
coral           = #6A2C70
darketnYellow   = #E6BB36 // cool
lightblue       = #2589BD
headerColor     = #FDCD3B
